name: .NET Core CI/CD

on:
  push:
    branches:
      - master
    tags:
      - v*
    paths:
      - "**"
      - "!**.md"
  pull_request:
    paths:
      - "**"
      - "!**.md"

env:
  DOTNET_CLI_TELEMETRY_OPTOUT: "true"
  DOTNET_NOLOGO: "true"
  NUGET_XMLDOC_MODE: skip
  NUGET_PACKAGES: ${{ github.workspace }}/.nuget/packages
  STABLE_SDK_VERSION: 3.1.202

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ env.STABLE_SDK_VERSION }}
      - name: Restore Tool
        run: dotnet tool restore
      - name: Add Problem Matcher for dotnet-format
        uses: xt0rted/dotnet-format-problem-matcher@v1
      - name: Lint
        run: dotnet format --check --dry-run

  test:
    name: Debug Build & Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        # see also https://github.com/dotnet/core/blob/master/release-notes/releases-index.json
        dotnet:
          [
            # { version: "1.0", sdk: 1.1.14 }, # EOL
            # { version: "1.1", sdk: 1.1.14 }, # EOL
            # { version: "2.0", sdk: 2.1.202 }, # EOL
            # { version: "2.1", sdk: 2.1.806 }, # LTS
            # { version: "2.2", sdk: 2.2.207 }, # EOL
            # { version: "3.0", sdk: 3.0.103 }, # EOL
            { version: "3.1", sdk: 3.1.202 }, # LTS
            # { version: "5.0", sdk: 5.0.100-preview.3.20216.6 }, # preview
          ]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v1
        with:
          path: ${{ env.NUGET_PACKAGES }}
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}
          restore-keys: |
            ${{ runner.os }}-nuget-
      - name: Setup .NET Core ${{ matrix.dotnet.version }} SDK
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ matrix.dotnet.sdk }}

      - name: Restore
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore
      - name: Test
        run: dotnet test --no-build --settings coverlet.runsettings

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          file: "!./.nuget/packages/**/*.*"
          flags: ${{ runner.os }},${{ matrix.dotnet.version }}

  release:
    name: Create Github Release
    if: contains(github.ref, 'tags/v')
    needs: [lint, test]
    runs-on: ubuntu-latest
    steps:
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false
      - name: Output Release URL File
        run: echo "${{ steps.create_release.outputs.upload_url }}" > release_url.txt
      - name: Save Release URL File for publish
        uses: actions/upload-artifact@v1
        with:
          name: release_url
          path: release_url.txt

  publish:
    if: contains(github.ref, 'tags/v')
    needs: [release]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rid: [win-x64, linux-x64, osx-x64]
        # see also https://github.com/dotnet/core/blob/master/release-notes/releases-index.json
        dotnet:
          [
            # { version: "1.0", sdk: 1.1.14 }, # EOL
            # { version: "1.1", sdk: 1.1.14 }, # EOL
            # { version: "2.0", sdk: 2.1.202 }, # EOL
            # { version: "2.1", sdk: 2.1.806 }, # LTS
            # { version: "2.2", sdk: 2.2.207 }, # EOL
            # { version: "3.0", sdk: 3.0.103 }, # EOL
            { version: "3.1", sdk: 3.1.202 }, # LTS
            # { version: "5.0", sdk: 5.0.100-preview.3.20216.6 }, # preview
          ]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v1
        with:
          path: ${{ env.NUGET_PACKAGES }}
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}
          restore-keys: |
            ${{ runner.os }}-nuget-
      - name: Restore File from release job
        uses: actions/download-artifact@v1
        with:
          name: release_url
      - name: Get Release File Name & Upload URL
        id: release_info
        run: |
          echo ::set-output name=file_name::${REPOSITORY_NAME##*/}-${TAG_REF_NAME##*/v}
          value=`cat release_url/release_url.txt`
          echo ::set-output name=upload_url::$value
          echo ::set-output name=version::${TAG_REF_NAME##*/v}
        env:
          TAG_REF_NAME: ${{ github.ref }}
          REPOSITORY_NAME: ${{ github.repository }}
      - name: Setup .NET Core ${{ matrix.dotnet.version }} SDK
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ matrix.dotnet.sdk }}
      - name: Build
        run: |
          dotnet publish -c Release -r ${{ matrix.rid }} /p\:Version=${{ steps.release_info.outputs.version }} -o ./${{ matrix.rid }}
          zip -r ${{ matrix.rid }} ./${{ matrix.rid }}
      - name: Upload Release Asset
        id: upload-release-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.release_info.outputs.upload_url }}
          asset_path: ./${{ matrix.rid }}.zip
          asset_name: ${{ steps.release_info.outputs.file_name }}-${{ matrix.rid }}-core${{ matrix.dotnet.version }}.zip
          asset_content_type: application/zip
