name: .NET CI/CD

on:
  push:
    branches:
      - main
  pull_request:
  release:
    types:
      - published

env:
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_NOLOGO: true
  NUGET_XMLDOC_MODE: skip
  NUGET_PACKAGES: ${{ github.workspace }}/.nuget/packages

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4.2.2
      - name: Setup .NET SDK # detected from global.json
        uses: actions/setup-dotnet@v4.3.0
      - name: Add Problem Matcher for dotnet-format
        run: echo "::add-matcher::.github/dotnet-format.json"
      - name: Lint
        run: dotnet format --verify-no-changes --verbosity detailed

  validate:
    name: Validate NuGet Lock Files
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4.2.2
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4.3.0
        with: &dotnet-setup
          dotnet-version: ${{ vars.DOTNET_SDK_VERSIONS }}
          cache: true
          cache-dependency-path: '**/packages.lock.json'

      - name: Restore with lock files
        run: dotnet restore --locked-mode

  test:
    name: Debug Build & Test
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        framework: [net9.0, net8.0]
        include:
          - os: windows-latest
            framework: net48
    steps:
      - uses: actions/checkout@v4.2.2
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4.3.0
        with: *dotnet-setup

      - name: Restore
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore
      - name: Test
        run: dotnet test --framework ${{ matrix.framework }} --no-build -p:TestingPlatformCommandLineArguments="--coverage --coverage-output-format cobertura --coverage-output cobertura.xml"

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5.4.3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: ${{ runner.os }},${{ matrix.framework }}
          disable_search: true
          files: "./test/Sample.Test/bin/Debug/${{ matrix.framework }}/TestResults/cobertura.xml"

  pack:
    name: Pack
    if: github.event_name == 'push' || github.event_name == 'release'
    runs-on: ubuntu-latest
    needs: [lint, validate, test]
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4.2.2
        with:
          fetch-depth: ${{ github.event_name == 'push' && 0 || 1 }}
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4.3.0
        with: *dotnet-setup

      - name: Restore
        run: dotnet restore --locked-mode
      - name: Generate version
        id: version
        shell: pwsh
        run: |
          if ("${{ github.event_name }}" -eq "release") {
            $version = "${{ github.event.release.tag_name }}".Substring(1)
          } else {
            $shortSha = "${{ github.sha }}".Substring(0, 7)
            $baseVersion = ([xml](Get-Content Directory.Build.props)).Project.PropertyGroup.Version
            $version = "$baseVersion-nightly-$shortSha"
          }
          "version=$version" | Out-File -FilePath $env:GITHUB_OUTPUT -Append
          Write-Host "Generated version: $version"
      - name: Pack
        run: dotnet pack --configuration Release --no-restore --output nupkgs -p:Version=${{ steps.version.outputs.version }}

      - name: Upload Build Assets
        uses: actions/upload-artifact@v4.6.2
        with:
          name: packages
          path: nupkgs/
          include-hidden-files: true

  publish:
    name: Publish
    needs: [pack]
    if: github.event_name == 'push' || github.event_name == 'release'
    environment: ${{ github.event_name == 'release' && 'production' || 'nightly' }}
    permissions:
      packages: write
      id-token: write
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4.3.0

      - name: Download Build Assets
        uses: actions/download-artifact@v4.1.8
        with:
          name: packages
          path: nupkgs/

      - name: Upload to GitHub Releases
        if: github.event_name == 'release'
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.event.release.tag_name }}
          files: nupkgs/*.nupkg

      - name: NuGet login (OIDC)
        if: github.event_name == 'release'
        uses: NuGet/login@v1
        id: nuget-login
        with:
          user: ${{ vars.NUGET_USER_NAME }}

      - name: Publish to ${{ github.event_name == 'release' && 'NuGet' || 'GitHub Packages' }}
        run: dotnet nuget push "nupkgs/*.nupkg" --skip-duplicate --source ${SOURCE_URL} --api-key ${NUGET_API_KEY}
        env:
          SOURCE_URL: ${{ github.event_name == 'release' && 'https://api.nuget.org/v3/index.json' || format('https://nuget.pkg.github.com/{0}/index.json', github.repository_owner) }}
          NUGET_API_KEY: ${{ github.event_name == 'release' && steps.nuget-login.outputs.NUGET_API_KEY || github.token }}
